/*BASIC SETUP*/

/*color:#d6b161;*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    background-color: #fff;
    color: rgba(77, 98, 92, 0.91);
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*FONT STYLE*/

@font-face {
    font-family: Lato;
    src: url('../../vendors/fonts/Lato/Lato-Light.ttf');
}

/*HEADINGS*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}


h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2 {
    font-size: 100%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #d6b161;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

/*LINKS*/

a:link,
a:visited {
    color: #d6b161;
    text-decoration: none;
}

/*BUTTON*/

.btn:link,
.btn:visited {
    text-decoration: none;
}

.btn-full:link,
.btn-full:visited {
    background-color: #d6b161;
    color: #fff;
    padding: 10px 10px;
    font-weight: 600;
    border: 1px solid #d6b161;
    font-size: 16px;
    transition: background-color 0.2s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cc9d39;
    color: #fff;
    padding: 10px 10px;
    font-weight: 600;
    border: 1px solid #d6b161;
    font-size: 16px;
}

/*RESUABLE COMPONENTS*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/*ICONS*/

.icon-small {
    display: inline;
    width: 200px;
    vertical-align: middle;
    font-size: 150%;
    margin-left: -10px;
    margin-right: 4%;
    color: #d6b161;
}

.icon-big {
    font-size: 200%;
    display: block;
    color: #d6b661;
    margin-bottom: 10px;
}

/*HEADERS*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/back.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.logo {
    float: left;
    height: 100px;
    width: auto;
    font-size: 90%;
    margin-top: 50px;
    color: #d6b161;
    letter-spacing: 1.1px;
}

.logo-black {
    display: none;
    float: left;
    height: 45px;
    width: auto;
    font-size: 80%;
    margin-top: 25px;
    color: #000;
    letter-spacing: 1.1px;
}

/*MAIN NAVBAR*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    font-size: 80%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #d6b161;
}


/*STICKY NAVBAR*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 5px 0;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 2px solid #d6b161;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

.sticky .main-nav {
    margin-top: 25px;
}

/*ABOUT ME*/

.aboutme-img img {
    width: 300px;
    height: 350px;
}

.section-about p {
    margin: 0;
    line-height: 30px;
    font-size: 18px
}

.details {
    list-style: none;
    margin: 30px 0;
    width: 100%;
}

.details li {
    display: inline-block;
    width: 30%;
    font-size: 70%;
    font-weight: 800;
    padding: 1%;
    color: #332c2c;
}


.social-links {
    background: transparent;
    display: inline-block;
    margin-right: 30px;
    font-size: 70%;
    border: 1px solid #ddd3d3;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 8px 11px;
    color: #332c2c;
    transition: background-color 0.2s;
    margin-bottom: 17px;
}

.social-links:hover {
    background-color: #d1b161;
    color: #fff;
}

/*SKILLS*/

.skills {
    padding: 6% 0 2% 0;
}

.skills-text {
    font-size: 80%;
    font-weight: 600;
    color: #332c2c;
}

.skills-progress {
    margin-top: 12px;
    width: 90%;
    height: 4px;
    position: relative;
    background: #edecec;
}

.skills-progress span {
    height: 100%;
    position: absolute;
    left: 0;
    background: #d6b161;
    transition: all 1s;
}

.skills-progress span:after {
    color: #000;
    content: attr(data-value);
    position: absolute;
    right: -10px;
    top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #ddd3d3;
    border-radius: 50%;
    background: #fff;
}

/*WORK EXPERIENCE*/

.content {
    box-sizing: border-box;
    padding: 0;
    padding-top: 4%;
    margin-left: 30%;
    text-decoration: none;
    list-style: none;
}

.title {
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
}

.date {
    font-size: 70%;
    color: #c19432;
    margin-bottom: 10px;
}

.content li {
    list-style: none;
    border-left: 1px solid #f5e8e8;
    padding-left: 50px;
    padding-bottom: 50px;
    position: relative;
}

.content li p {
    font-size: 80%;
    margin: 0;
    line-height: 1.8;
    color: #7e7e7e;
}

.content li p:after {
    content: "";
    position: absolute;
    background: #d6b161;
    top: 1px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


/*CONTACT*/

.section-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/contact.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.section-contact h2 {
    color: #fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    margin-right: 47px;
    width: 40%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    margin-bottom: 60px;
    font-size: 16px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
}

.contact-form input[type="submit"] {
    width: 90%;
    height: 37px;
    background-color: #d6b161;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background: transparent;
    color: #d6b161;
    border: 1px solid #d6b161;
}

.info {
    border: 1px solid #fff;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    margin-left: 70px;
}

.info h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}

.info span {
    color: #fff;
}

.info .item {
    margin-bottom: 20px;
}


.info .contact-social-links {
    display: inline-block;
    padding: 0 30px;
    border: 0;
    color: #fff;
    font-size: 20px;
}

.info .contact-social-links a {
    text-decoration: none;
    color: #e6dede;
}

.section-contact p {
    margin-top: 60px;
    text-align: center;
    color: rgba(202, 221, 217, 0.79);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}


/* ANIMATION */

/*
.js--details-1,
.js--details-2,
.js--details-3,
.js--details-4,*/

.js--p-img {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


/*

.js--details-1.animated,
.js--details-2.animated,
.js--details-3.animated,
.js--details-4.animated,*/

.js--p-img.animated {
    opacity: 1;
}
